#Database
DB_USERNAME= YOUR_DB_USERNAME
DB_PASSWORD= YOUR_DB_PASSWORD
DB_URL= YOUR_DB_URL

#Security
JWT_SECRET= YOUR_JWT_SECRET

#Accounts
COORDINATOR_EMAIL= YOUR_COORDINATOR_EMAIL
COORDINATOR_PASSWORD= YOUR_COORDINATOR_PASSWORD

#Docker
DOCKER_IMAGE= YOUR_DOCKER_IMAGE