#Database
DB_URL= YOUR_DB_URL
DB_USERNAME= YOUR_DB_USERNAME
DB_PASSWORD= YOUR_DB_PASSWORD

#Security
JWT_SECRET= YOUR_JWT_SECRET

#Accounts
COORDINATOR_EMAIL= YOUR_COORDINATOR_EMAIL
COORDINATOR_PASSWORD= YOUR_COORDINATOR_PASSWORD